@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "DM Sans", sans-serif;
}

.cards-section{
    display: flex;
    justify-content: center;
    background-color: #1f1346;
}

.cards-section-container{
    background-color: #1f1346;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 56px 16px;
}

.cards-section__description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 10px;
}

.cards-section__description h3{
    font-size: 24px;
    font-weight: 700;
}

.card-section__cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-section__card{
    background-color: #2f1c6a;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    padding: 32px;
}

.card-section__card__icon{
    height: 40px;
    width: 40px;
    background-color: #673ed6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-section__card__icon svg{
    height: 24px;
}

.card-section__card__title{
    font-size: 18px;
    font-weight: 600;
}

.button-container{
    padding: 20px;
}

.get-started-button{
    width: 186px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    background-color:#673ed6;
    color: white;
    border-radius: 10px;
}

@media screen and (min-width: 768px){
    .cards-section-container{
        width: 768px;
    }
    .cards-section__description h3{
        font-size: 28px;
    }
}

@media screen and (min-width: 1025px){
    .cards-section-container{
        width:auto;
    }
    .card-section__cards{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .cards-section__description h3{
        font-size: 36px;
    }
    .card-section__card{
        height: 280px;
    }
}

@media screen and (min-width: 1208px) {
    .cards-section-container{
        width:1208px;
    }
}
